
@import "variables";
@import "mixins";

body{
    font-family: $font-stack;
}
h1{
    @include change(1deg);
    color: $dark-blue;
    border: $bigBorder;
    padding: 10px;
}
h2{
    margin: 0px;
 }
div.container{
    @include change(-1deg);
    color: $light-blue;
    border: $smallBorder;
    background-color: $dark-blue;
    padding: 10px;
    margin-top: 10px;
}

