
//VARIABLES 
$light-blue: rgb(146, 186, 252);
$dark-blue: rgba(41, 63, 134, 0.90);

$font-stack: sans-serif;

$bigBorder: 4px solid CornflowerBlue;
$smallBorder: 2px solid $dark-blue;

//Mixins
@mixin change($degrees){
    transform: rotate($degrees);
}

body{
    font-family: $font-stack;
}
h1{
    @include change(1deg);
    color: $dark-blue;
    border: $bigBorder;
    padding: 10px;
}
h2{
    margin: 0px;
 }
div.container{
    @include change(-1deg);
    color: $light-blue;
    border: $smallBorder;
    background-color: $dark-blue;
    padding: 10px;
    margin-top: 10px;
}

